VITE_REDIRECT_BASE=http://example.edu/

VITE_COGNITO_DOMAIN=example.us-east-1.amazoncognito.com

VITE_API_STAGE=dev

## Endpoint info for Consenting People
VITE_CONSENTING_API_HOST=https://example.execute-api.us-east-1.amazonaws.com

## Endpoint info for Authorized Individuals
VITE_AUTHORIZED_API_HOST=https://example.execute-api.us-east-1.amazonaws.com

## Endpoint info for Entity Admins
VITE_ENTITY_API_HOST=https://example.execute-api.us-east-2.amazonaws.com

## Endpoint info for Super Admins
VITE_SYSADMIN_API_HOST=https://example.execute-api.us-east-2.amazonaws.com

## Registration endpoints
VITE_REGISTER_ENTITY_API_HOST=https://example.execute-api.us-east-1.amazonaws.com
VITE_REGISTER_CONSENTER_API_HOST=https://example.execute-api.us-east-1.amazonaws.com

VITE_STACK_CLOUDFRONT_DOMAIN=https://example.cloudfront.net