VITE_REDIRECT_BASE=http://example.edu/

VITE_COGNITO_DOMAIN=example.us-east-1.amazoncognito.com

## Endpoint info for Consenting People
VITE_CONSENTING_COGNITO_CLIENTID=xxxxxx
VITE_CONSENTING_API_HOST=https://example.execute-api.us-east-1.amazonaws.com

## Endpoint info for Authorized Individuals
VITE_AUTHORIZED_COGNITO_CLIENTID=xxxxxx
VITE_AUTHORIZED_API_HOST=https://example.execute-api.us-east-1.amazonaws.com

## Endpoint info for Entity Admins
VITE_ENTITY_COGNITO_CLIENTID=xxxxxx
VITE_ENTITY_API_HOST=https://example.execute-api.us-east-2.amazonaws.com

## Endpoint info for Super Admins
VITE_SYSADMIN_COGNITO_CLIENTID=xxxxxx
VITE_SYSADMIN_API_HOST=https://example.execute-api.us-east-2.amazonaws.com

## Registration and Acknowledgement endpoints
VITE_ACKNOWLEDGE_ENTITY_API_HOST=https://example.execute-api.us-east-1.amazonaws.com
VITE_REGISTER_ENTITY_API_HOST=https://example.execute-api.us-east-1.amazonaws.com
VITE_REGISTER_CONSENTER_API_HOST=https://example.execute-api.us-east-1.amazonaws.com
